<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'posts_index', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>


<div class="container mt-4">
  <h1 class="text-center mb-4">Posts</h1>

  <div class="text-center mb-4">
    <%= link_to "New Post", new_post_path, class: "btn btn-dark" %>
  </div>

  <div id="posts" class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4 mb-4">
        <%= link_to post_path(post), class: "card h-100 shadow-sm post-card-link" do %>
          <div class="card-body">
            <%= render post %>

          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
